* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height:100vh;
    background-image: url(images/outer-frame-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    user-select: none;
    -webkit-app-region:drag;
}

.app {
   
}

button,
input,
textarea,
select {
      -webkit-app-region:drag;
      cursor:pointer;
}

