@font-face {
    font-family: "Pixelify Sans";
    src: url(font/PixelifySans-Regular.ttf);
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height:100vh;
    background-image: url(images/outer-frame-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    user-select: none;
    -webkit-app-region:drag;
}

.app {
   
}

.title {
    /*text styling*/
    color: var(--white, #FFF);
    font-family: "Pixelify Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    /*titlebox*/
    display: flex;
    width: 157px;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    border: 1px solid #C079ff;
    background: rgba(210,164,255,0.40);
    aspect-ratio: 157px / 27px;


}

button,
input,
textarea,
select {
      -webkit-app-region:drag;
      cursor:pointer;
}

