@font-face {
    font-family: "Pixelify Sans";
    src: url(font/PixelifySans-Regular.ttf);
    font-family: "Pixeboy";
    src: url(font/Pixeboy.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height:100vh;
    background-image: url(images/outer-frame-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    user-select: none;
    -webkit-app-region:drag;
}

.app {
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 214px;
    padding: 16px 17px;

    background-image: url(images/outer-frame-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    }

.title {
    /*text styling*/
    color: var(--white, #FFF);
    font-family: "Pixelify Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    
    /*titlebox*/
    display: flex;
    width: 157px;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    border: 1px solid #C079ff;
    background: rgba(210,164,255,0.40);
    aspect-ratio: 157px / 27px;


}

#day {
    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--mid-purple, #B58CD9);
    font-family: Pixeboy;
    font-size: 136px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 7.2px;

    display: flex;
    width: 180px;
    height: 71px;
    flex-direction: column;
    justify-content: center;
}

#month {
    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #B58CD9;
    font-family: Pixeboy;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 4.8px;

    width: 130px;
}

button,
input,
textarea,
select {
      -webkit-app-region:drag;
      cursor:pointer;
}

